@use 'sass:color';
@use '../../../../shared/styles/colors.scss' as *;

.cart {
  //Styling
  background-color: color.adjust($color-primary-nitro, $lightness: 45%);
  border: 1px dashed $color-secondary-nitro;
  padding: 2rem;
  font-family: 'Courier New', Courier, monospace;

  // Responsive Design
  max-width: 50%;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 2px dashed $color-primary-nitro;;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__total-label,
  &__total-value {
    color: $color-black-nitro;;
  }
}
