@use '../../styles/colors.scss' as *;

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 2rem 0;

  table {
    width: 100%;
    min-width: 600px;
    border-spacing: 0;
    box-shadow: none;

    th, td {
      text-align: left;
      padding: 12px 16px;
      border-bottom: 1px solid $color-primary-dachser;
    }

    th {
      font-weight: bold;
      background-color: $color-background-dachser;
      color: $color-primary-dachser;
    }

    th:first-child, td:first-child {
      width: 15vh;
      border-right: 1px solid $color-primary-dachser;
    }

  }

.empty-state {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
