@use '../../shared/styles/colors.scss' as *;

strong {
  color: $color-primary-dachser;
}

.grow {
  flex-grow: 0;
}

mat-icon {
  color: $color-primary-dachser;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
