<div class="cart__item">
  <img
    [src]="cartItem.product.image"
    alt="{{ cartItem.product.title }}"
    class="cart__image"
  />

  <div class="cart__details">
    <p class="cart__product-title" [title]="cartItem.product.title">
      {{ cartItem.product.title }}
    </p>

    <div class="cart__quantity">
      <button class="cart__button" (click)="decreaseQuantity(cartItem)">
        −
      </button>
      <span class="cart__quantity-value">{{ cartItem.quantity }}</span>
      <button class="cart__button" (click)="increaseQuantity(cartItem)">
        +
      </button>
    </div>

    <div class="cart__price">
      <label>Price:</label>
      <br />
      <label>
        {{
          cartItem.product.price * cartItem.quantity
            | currency : "USD" : "symbol"
        }}
      </label>
    </div>
  </div>
</div>
